.App {
  position: relative;
}

.bot-icon {
  background-color: #0563DD;
  height: 80px;
  width: 80px;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  padding-top: 8px;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.bot-icon .faComments {
  width: 60px;
  height: 60px;
}

.chatBox {
  height: 600px;
  width: 500px;
  position: fixed;
  background-color: #f0f3f697;
  border-radius: 15px;
  border: 1px solid #0563DD;
  box-shadow: 7px 9px 10px 1px #e4e4e4;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.header {
  border-bottom: 1px solid #0563DD;
  padding: 15px;
  box-sizing: border-box;
}


.header .xmark {
  width: 25px;
  height: 25px;
}

.chat-input{
  border: none;
  width: 100%;
  padding: 20px;
  border-bottom-right-radius:15px ;
  border-bottom-left-radius:15px ;
}

input[type="text"]{
    font-size:22px;
}

.textarea{
  min-height: 457px;
  padding: 10px 0;
}

.text-round{
  min-width: 130px;
  max-width: 296px;
    border: 2px solid #1C71E0;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
}

.text-round p{
  margin: 10px;
  font-size: 16px;
}

.outerDiv{
  overflow-y: auto;
  min-height: 457px;
  max-height: 457px;
}